/*------------------------------------------------------------Home-3-Start----------------------------------------  */

@media (max-width: 1075px) {
  .banner-form .traffic-btn-primary {
    /* margin-top: 5px !important; */
    margin-left: -5px !important;
  }
}

@media (min-width: 375px) {
  
  .seo-form form input {
    width: 100%;
    height: 50px;
    margin-right: 0;
    margin-bottom: 15px; 
  }

  .hero-title h1 {
    font-size: 3rem;
  }
  
  .seo-analysis-photo{
    margin-left: 10px;
  }

  .seo-analysis-description{
    margin-top: 50px;
    margin-left: 0;
  }

  .marketing-site-title h3{
    font-size: 2rem;
    line-height: 1;
  }

  .marketing-site-title p{
    font-size: 0.975rem;
    line-height: 1.44;
  }

  .seo-case-study-image-wrapper{
    grid-template-columns: 1fr;
  }

  .footer-image{
    text-align: center;
  }

  .copyright-text{
    margin-left: 15px;
  }

  .social-help-footer,
  .help-section{
    text-align: center !important;
  }

  .seo-blog-photo-card{
    margin-bottom: 30px;
  }
}


@media (min-width: 768px) {

  .seo-case-study-image-wrapper{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

    .seo-form form input {
      width: 47%;
      height: 50px;
      margin-bottom: 15px;
      margin-right: 10px;
      
    }

    .marketing-site-title h3{
      font-size: 2.5rem;
      line-height: 0.65;
    }
  
    .marketing-site-title p{
      font-size: 1.125rem;
      line-height: 1.44;
    }

    .footer-image{
      text-align: left;
      margin-left: 15px;
    }

    .social-help-footer,
    .help-section{
      text-align: end;
    }

   
  
}

@media (min-width: 1024px) {

  .seo-case-study-image-wrapper{
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

  .seo-form form input {
    width: 261px;
    height: 50px;
    margin-right: 15px;
  }

  .hero-title h1 {
    font-size: 4.0625rem;
  }

  .marketing-site-title h3{
    font-size: 2.5rem;
    line-height: 0.65;
  }

  .marketing-site-title p{
    font-size: 1.125rem;
    line-height: 1.44;
  }

  .footer-image{
    text-align: left;
    margin-left: 15px ;
  }

  .social-help-footer,
  .help-section{
    text-align: end !important;
  }

  .seo-blog-photo-card{
    margin-bottom: 0;
  }

}

@media (min-width: 1440px) {

 

  .seo-form form input {
    width: 310px;
    height: 50px;
    margin-right: 15px;
  }
  .social-help-footer,
    .help-section{
      text-align: end !important;
    }
}

/*------------------------------------------------------------Home-3-End----------------------------------------  */
