:root {
  --body-color: #999;
  --primary-color: #f04770;
  --home-2-color: #2ecc71;
  --home-3-color: #06d6a0;
  --home-4-color: #06d6a0;
}

body {
  font-family: "Khula", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--body-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khula", sans-serif;
  color: #373737;
}
.container-fluid {
  max-width: 1170px;
}

/* default-input-style */
.traffic-form-control {
  border: 1px solid #efefef;
  padding: 16px 22px;
  max-height: 46px;
  border-radius: 4px;
  outline: none;
}
.traffic-form-control:focus {
  border-color: var(--primary-color);
}
/* default-input-style-end */

/* button */
.traffic-btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 14px 32px;
  line-height: 1.5;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.traffic-btn-primary:hover {
  color: #fff;
}

/* primary-menu-start */

ul.primary-menus li a {
  text-decoration: none;
  display: inline-block;
  color: #888888;
  padding: 16px;
}

ul.primary-menus li a:hover {
  color: var(--primary-color);
}

/* ------Dropdown-menu-START----------- */

ul.primary-menus li {
  position: relative;
}
ul.primary-menus li:hover ul.dropdown {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

ul.primary-menus li ul.dropdown {
  list-style: none;
  position: absolute;
  width: 250px;
  background-color: #fbfbfb;
  padding-left: 0;
  top: 50%;
  border: 2px solid #fbfbfb;
  border-radius: 0.375rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all;
}

ul.primary-menus li ul.dropdown li {
  display: block;
}

ul.primary-menus li ul.dropdown li a {
  display: block;
  padding-left: 86px;
}

ul.primary-menus li ul.dropdown li:hover,
ul.primary-menus li ul.dropdown li a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0.375rem;
}

/* ------Dropdown-menu-END----------- */

/* primary-menu-end */

/* banner-section */

.banner-section {
  padding: 176px 0 156px 0;
}

.banner-text h1 {
  margin-bottom: 6px;
  line-height: 1.15;
}
.banner-text p {
  margin-bottom: 34px;
}
.banner-form .traffic-btn-primary {
  margin-left: 16px;
}

/* banner-end */

/* service-section-start */
.service-section {
  margin-top: 116px;
}
.service-section .service-header p {
  margin-bottom: 100px;
}

.service-card {
  padding: 40px 18px 36px 18px;
  margin-bottom: 50px;
  cursor: pointer;
  border: 1px solid var(--body-color);
  border-radius: 0.375rem;
}

.service-card-body .icon span {
  font-size: 2.3rem;
  color: #373737;
}

.service-card-body a {
  display: inline-block;
  text-decoration: none;
  color: #373737;
  font-weight: 400;
}

.service-card-body h4 {
  margin-top: 22px;
}

.service-card-body p {
  margin-top: 18px;
  line-height: 1.73;
}
.service-card-text a {
  position: relative;
  margin-top: 14px;
}

.service-card-text a span {
  font-size: 11px;
  position: absolute;
  top: 5px;
  left: 82px;
}

.service-card:hover {
  border-color: var(--primary-color);
}

.service-card:hover .icon span,
.service-card:hover .service-card-text h4,
.service-card:hover .service-card-text a {
  color: var(--primary-color);
  transition: all 0.3s;
}

/* service-section-end */

/* online-marketing start */
.online-marketing {
  padding: 68px 0 120px 0;
}
.online-marketing-text h2 {
  line-height: 1.42;
}
.online-marketing-text p {
  margin-top: 8px;
  line-height: 1.625;
  margin-bottom: 34px;
}

/* online-marketing end */

/* case-study-start */
.case-study {
  background-color: #fbfbfb;
  padding: 80px 0 60px 0;
}

.case-study-text p {
  margin-bottom: 90px;
}

.box {
  border-radius: 0.375rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.hover-title h4 {
  margin-top: 38px;
  color: #fff;
}
.hover-title p {
  font-size: 1.0625rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 18px;
}
.hover-description {
  margin: 26px 0 32px 0;
}
.hover-description p {
  color: #fff;
}
.hover-arrow a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 14px;
  background: #fff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
}

.hover-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  border-radius: 0.375rem;
}
.box:hover .hover-layer {
  opacity: 1;
  visibility: visible;
  transition: ease-in 0.3s;
  background-color: #f04770;
}

/* case-study-end */

/* carousel-start */
.slider-section {
  padding: 110px 0 118px 0;
}
.slider-image {
  margin-top: 36px;
}

.slider-image figcaption {
  font-size: 1.125rem;
  color: #222;
  font-weight: 400;
  margin-top: 24px;
}

.slider-image img {
  width: 80px;
  /* height: auto; */
  border-radius: 50%;
  cursor: pointer;
}
.slider-image p {
  font-size: 0.875rem;
  margin-top: 8px;
}

.blockquote p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #222;
  font-weight: 400;
}

/* carousel-end */

/* marketing-section-start */
.marketing-section {
  background-color: #fbfbfb;
  padding: 64px 0;
}
.marketing-section .marketing-text h3 {
  margin-bottom: 0;
}

/* marketing-section-end */

/* pricing-start */
.pricing {
  padding: 120px 0 124px 0;
}
.service-header p {
  margin-bottom: 92px;
}

.pricing-card {
  border: 1px solid var(--body-color);
  border-radius: 0.375rem;
  padding: 32px 44px 36px 46px;
}

.pricing-card h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

.pricing-card h1 {
  font-size: 3.125rem;
  color: var(--primary-color);
  margin-top: 14px;
}

.pricing-card span {
  display: block;
  font-size: 0.875rem;
  margin-top: -11px;
  margin-bottom: 32px;
}

.pricing-card p {
  font-size: 1.0625rem;
}

hr.first-hr {
  width: 270px;
  margin: 44px auto;
  border: 1px solid var(--body-color);
  transition: all 0.6s;
}
.pricing-button {
  margin-top: 44px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 130px;
  cursor: pointer;
}

.pricing-card:hover {
  border-color: var(--primary-color);
  cursor: pointer;
  transition: 0.6s all;
}
.pricing-card:hover hr.first-hr {
  border-color: #f04770;
  opacity: 1;
}

/* pricing-end */

/* footer-container-start */
.footer-content {
  padding: 106px;
  background-color: #fbfbfb;
}

.product-side ul {
  list-style: none;
  margin-top: 22px;
}

.product-side li {
  margin-bottom: 6px;
}

.product-side li a {
  text-decoration: none;
  color: var(--body-color);
}

.signup {
  position: relative;
  margin-top: 34px;
}

.signup form input[type="email"] {
  padding: 12px 44px 12px 14px;
  border: none;
  background: #f6f6f6;
  border-radius: 0.375rem 0 0 0.375rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.signup form input[type="submit"] {
  padding: 12px 26px;
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  border-radius: 0 0.375rem 0.375rem 0;
  position: absolute;
  top: 0;
  left: 216px;
}

.signup form input:focus {
  outline: none;
}

.social-handle {
}

.social {
}

.social ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  row-gap: 6px;
}

.social ul li {
  flex-basis: 32%;
}

.social ul li a {
  text-decoration: none;
  color: var(--body-color);
}

.social ul li a i {
  margin-right: 10px;
  display: inline-block;
  color: #222;
}

.social-handle h5 {
  margin: 30px 0 20px 0;
}

.social ul li:hover a,
.social ul li:hover i {
  color: var(--primary-color);
  transition: all 0.3s;
}

.copyright {
  background-color: #f7f7f7;
  padding-top: 16px;
  padding-bottom: 12px;
}

/* footer-container-end */

/*---------------------------------- HOme-2 Css start------------------- */

.container {
  max-width: 1170px;
}

.gradient-color {
  background-image: linear-gradient(#06bcfd, #4383ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* default-input-style */

.score-card input[type="submit"],
.default-btn-primary {
  background-color: var(--home-2-color);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 10px 32px;
  line-height: 1.5;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.default-btn-primary:hover {
  color: #fff;
}

/* default-input-style-end */
/* primary-menu-start */

ul.primary-menu li a {
  text-decoration: none;
  display: inline-block;
  color: #888888;
  padding: 15px;
}

ul.primary-menu li a:hover {
  color: var(--home-2-color);
}
/* primary-menu-end */
/* Seo-score-section-start */
.seo-score-section {
  background-image: url("../images/background-photo.png");
  padding: 100px 0 112px;
}

.seo-title h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
}

.seo-title p {
  color: #fff;
  line-height: 1.75;
  font-size: 0.93rem;
  margin-top: 14px;
}
.score-card {
  background-color: #fff;
  border-radius: 0.375rem;
  max-width: 400px;
  padding: 44px 50px;
  margin-left: auto;
  box-shadow: 10px 10px 4px #a9c9ff;
}

.score-card h5 {
  font-size: 1.3rem;
  color: #373737;
}

.score-card p {
  font-size: 0.875rem;
  margin-bottom: 52px;
  margin-top: -4px;
}

.score-card form input {
  width: 100%;
  padding: 8px 12px;
  outline: none;
  border-radius: 0.375rem;
  border: 1px solid #e8e8e8;
  margin-bottom: 25px;
}

.score-card form button {
  margin-top: 25px;
}

/* Seo-score-section-end */

/* Digital-agency-section -start  */

.digital-agency {
  padding: 120px;
}

.agency-photo {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
}
.photo-1 {
  margin-top: -14px;
  margin-left: 10px;
}
.photo-2 {
  margin-top: -14px;
  margin-left: 18px;
}
.photo-3 {
  margin-top: -14px;
  margin-left: 18px;
}
.photo-4 {
  margin-left: 100px;
}
.photo-5 {
  margin-left: 18px;
}

.agency-photo img {
  width: 150px;
  border-radius: 50%;
}

.digital-agency-text {
  margin-left: 76px;
}
.digital-agency-text h4 {
  font-size: 1.3rem;
  line-height: 1.75;
  color: #373737;
}
.digital-agency-text p {
  font-size: 0.93rem;
  line-height: 1.73;
  margin: 29px 0px;
}

/* Digital-agency-section -end */

/* service-section-start */
.service {
  padding: 16px 0px 120px;
}
.service-section {
  margin-bottom: 90px;
}
.service-title h3 {
  color: #373737;
  margin-bottom: 8px;
}

.service-title p {
  font-size: 0.93rem;
  margin-bottom: 90px;
}
.box {
  width: 100%;
  background-color: #fbfbfb;
}

.box-body {
  padding: 75px 40px 80px 40px;
}
.box-body h4 {
  font-size: 1.375rem;
  margin-top: 6px;
  line-height: 2rem;
}
.box-body span {
  font-size: 2.5rem;
  display: inline-block;
}
.box-body span {
  background-image: linear-gradient(#06bcfd, #4383ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box:hover {
  background-image: linear-gradient(#06bcfd, #4383ed);
}
.box:hover .box-body h4 {
  color: #fff;
}
/* service-section-end */

/* quotes-section-start */

.quotes {
  background-color: #fbfbfb;
  padding: 78px 0px 54px 0px;
}

.quotes-wrapper {
}
.quotes-wrapper .only-icon {
}
.quotes-wrapper .only-icon span {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e9e9e9;
  border-radius: 50%;
}

.quotes-wrapper .title-text {
}

.quotes-wrapper .title-text h6,
.quotes-wrapper .title-text span {
  font-size: 1.125rem;
  line-height: 1.83;
}

.quotes-wrapper .title-text h6 {
  margin-top: 52px;
}

.quotes-wrapper .title-text span {
  color: #373737;
  font-weight: 500;
  display: inline-block;
  margin-top: 20px;
}
.quotes-wrapper .title-text p {
  font-size: 0.875rem;
  line-height: 1.83;
  margin-top: -7px;
}

.slider-section {
  position: relative;
}

.tns-nav {
  position: absolute;
  left: 50%;
  bottom: 15%;
  margin-left: -45px;
}

.tns-nav button {
  width: 20px;
  height: 10px;
  border-radius: 0.275rem;
  border: none;
}

button.tns-nav-active {
  margin-right: 10px;
  background-color: var(--primary-color);
}
button {
  margin-right: 10px;
}

/* quotes-section-end */

/* awesome-case-study-start */

.Awesome-case-study {
  padding: 114px 0 86px 0;
}
.Awesome-case-study .study-title p {
  margin-bottom: 100px;
}

.photo-box-wrapper {
  position: relative;
  cursor: pointer;
}

.photo {
  position: relative;
}

.hover-box {
  position: absolute;
  background-image: linear-gradient(
    rgba(6, 188, 253, 0.6),
    rgba(67, 131, 237, 0.7)
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  border-radius: 0.375rem;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.4s;
}

.hover-box button {
  border: 1px solid #e9e9e9;
  border-radius: 0.275rem;
  font-size: 0.875rem;
  line-height: 3.2;
  font-weight: 400;
  padding: 6px 16px;
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 31%;
}

.hover-box button span {
  display: flex;
  font-size: 0.87rem;
  margin-left: 10px;
}

.photo-box-wrapper:hover .hover-box {
  visibility: visible;
  opacity: 1;
}

.photo-label {
}
.photo-label h6 {
  font-size: 1.125rem;
  line-height: 2.5;
  margin-top: 16px;
}
.photo-label p {
  font-size: 0.875rem;
  line-height: 2.5;
  margin-top: -22px;
}

/* awesome-case-study-end */

/* Awesome-pricing-section-start */

.awesome-pricing {
  padding-bottom: 118px;
}

.title-pricing h3 {
  margin-bottom: 16px;
}
.title-pricing p {
  font-size: 0.93rem;
  line-height: 1.72;
  margin-bottom: 94px;
}

.awesome-pricing-card {
  border: 1px solid #f3f3f3;
  border-radius: 0.375rem;
  cursor: pointer;
}

.awesome-pricing-card:hover span,
.awesome-pricing-card:hover h3 {
  background-image: linear-gradient(#06bcfd, #4383ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

.awesome-pricing-heading {
  background-color: #fbfbfb;
  padding: 24px 0 18px 0;
}

.awesome-pricing-heading h3 {
  font-size: 1.25rem;
  line-height: 2.25;
}

.awesome-pricing-heading h1 {
  font-size: 3.125rem;
  line-height: 0.9;
  padding-top: 14px;
  background-image: linear-gradient(#06bcfd, #4383ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.awesome-pricing-heading span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 3.2;
  display: block;
  margin-top: -12px;
}

.awesome-pricing-body {
  margin: 60px 0 62px 0;
}

.awesome-pricing-body p {
  font-size: 1.0625rem;
}

.pricing-button {
}
.pricing-button button {
  display: block;
  width: 100%;
  background-color: var(--home-2-color);
  border: 1px solid var(--home-2-color);
  border-radius: 0.275rem;
  font-size: 0.875rem;
  color: #fff;
  padding: 12px;
}
/* Awesome-pricing-section-End */

/* Blog-section-Start */
.blog {
  padding-bottom: 120px;
}
.blog-title p {
  margin-bottom: 92px;
}

.blog-card {
  border: 1px solid #e8e8e8;
}

.blog-card:hover {
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  cursor: pointer;
}

.blog-card-body {
  padding: 50px 14px 46px 26px;
}
.blog-card-body h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
}
.blog-card-body p {
  font-size: 0.9375rem;
  line-height: 1.7;
  margin-bottom: 18px;
}
.blog-card-body a {
  font-size: 0.9375rem;
  line-height: 1.7;
  text-decoration: none;
  color: #2ecc71;
  display: inline-flex;
}
.blog-card-body a span {
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
}
/* Blog-section-End */

/* Digital-marketing-efforts-start */
.digital-marketing-efforts {
  background-image: linear-gradient(#06bcfd, #4383ed);
  padding: 68px;
}

.marketing-efforts-wrapper {
}

.marketing-efforts-title {
}
.marketing-efforts-title h3 {
  color: #fff;
  line-height: 0.92;
  margin-bottom: 40px;
}
.marketing-efforts-button button {
  font-size: 0.875rem;
  line-height: 1.85;
  border: 1px solid #fbfbfb;
  border-radius: 0.25rem;
  padding: 14px 56px 10px 56px;
}

/* Digital-marketing-efforts-end  */

/* footer-content-section-start */

.footer-component {
  padding: 103px 0 84px 0;
}

.component-body img {
  margin-bottom: 32px;
}

.help-component {
  padding-left: 66px;
}
.social-component {
  padding-left: 176px;
}

.footer-default ul {
  list-style: none;
  margin-top: 22px;
}
.footer-default ul li {
  margin-bottom: 6px;
}
.footer-default ul li a {
  text-decoration: none;
  color: #999;
}

.social-component .social-help ul li a i {
  margin-right: 10px;
  display: inline-block;
  color: #222;
}
.social-help ul li:hover a,
.social-help ul li:hover a i {
  color: var(--primary-color);
  transition: all 0.3s;
}

/* footer-content-section-end */

.footer-copyright {
  background-color: #fbfbfb;
  padding: 14px 0 4px 0;
}

.footer-copyright-text p {
  font-size: 0.9375rem;
  line-height: 1.73;
}

/* -------------------------------HOme-2 Css end------------------------- */

/* -------------------------------Home-3 Css Start------------------------ */

/* ----------default-button-start */
.hero-btn-primary {
  background-color: var(--home-3-color);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 14px 40px;
  line-height: 1.7;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.hero-btn-primary:hover {
  color: #fff;
}
/* ----------default-button-end */

/* Hero-section-start */

/* ------header-part-start------- */

.header {
  background: linear-gradient(
      to right,
      rgba(27, 102, 218, 0.8),
      rgba(24, 185, 230, 0.8)
    ),
    url("../images/home-3-banner.png");

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ul.hero-menu {
  display: flex;
  list-style: none;
  gap: 28px;
  justify-content: flex-end;
  align-items: flex-end;
}

ul.hero-menu li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 400;
} */

.header-wrapper {
  display: flex;
  align-items: center;
}
.navbar-wrapper {
  flex: 1 1 auto;
}

.hero-button {
  padding-left: 30px;
  flex: none;
}

.hero-button span i {
  font-size: 0.9375rem;
  color: white;
  cursor: pointer;
}

ul.hero-menu li a:hover,
.hero-button span i:hover {
  color: var(--home-3-color);
}

/* ----------header-part-end-----*/

.hero-section {
  padding: 204px 0 218px 0;
}

.hero-title h1 {
  color: white;
  line-height: 1.07;
}

.hero-title p {
  font-size: 0.9375rem;
  color: white;
  line-height: 1.86;
  margin-top: 26px;
}

.hero-play-button {
  margin-top: 40px;
}

.hero-play-button button {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--home-3-color);
  border-radius: 50%;
  background-color: var(--home-3-color);
}
.hero-play-button button span i {
  color: white;
  font-size: 0.8rem;
}

/* Hero-section-End */

/* seo-analysis-start */
.seo-analysis {
  padding-top: 116px;
}

.seo-analysis-title h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}
.seo-analysis-title p {
  font-size: 0.937rem;
  line-height: 1.86;
  margin-bottom: 42px;
}

.seo-form form input {
  width: 310px;
  height: 50px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  font-weight: 300;
  color: #222;
  line-height: 1.71;
  padding: 0 16px;
  margin-right: 15px;
}

.wrapper {
  padding-top: 120px;
}

.seo-analysis-description {
  margin-left: 72px;
}
.seo-analysis-description h4 {
  line-height: 1.08;
}
.seo-analysis-description p {
  font-size: 0.937rem;
  line-height: 1.86;
  margin-top: 32px;
}
.seo-analysis-description button {
  margin-top: 16px;
}
/* seo-analysis-end */

/* Seo-Service-section-Start */

.seo-service {
  padding-top: 118px;
}

.seo-service-title h3 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  margin-bottom: 14px;
}
.seo-service-title p {
  font-size: 0.9375rem;
  line-height: 1.73;
  margin-bottom: 94px;
}

.seo-service-card {
  padding: 68px 12px 68px 12px;
  border: 2px solid white;
}
.seo-service-card-header span {
  font-size: 4.375rem;
  font-weight: 600;
  line-height: 0.4;
  display: inline-block;
  margin-bottom: 36px;
  opacity: 0.3;
}

.seo-service-card-body h4 {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 22px;
}
.seo-service-card-body p {
  font-size: 0.9375rem;
  line-height: 1.73;
}
.seo-service-card-body a {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.73;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #222;
}
.seo-service-card-body a span {
  font-size: 0.7rem;
  margin-left: 8px;
}

.seo-service-card:hover {
  border: 2px solid var(--home-3-color);
  border-radius: 0.275rem;
  cursor: pointer;
}
.seo-service-card:hover a {
  color: var(--home-3-color);
}
/* Seo-Service-section-End */

/* Seo-Case-study-Scetion-Start */
.seo-case-study {
  padding: 116px 0 120px 0;
}

.seo-case-study-text h3 {
  line-height: 1.875;
}

.seo-case-study-text p {
  font-size: 0.937rem;
  line-height: 1.86;
  margin-bottom: 80px;
}

.seo-case-study-image-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.seo-case-study-image img {
  width: 100%;
  height: 300px;
  border-radius: 0.275rem;
}
.seo-case-study-image {
  position: relative;
}

.seo-case-study-hover-layer {
  background-color: var(--home-3-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  border-radius: 0.275rem;
}

.seo-case-study-image:hover .seo-case-study-hover-layer {
  visibility: visible;
  opacity: 0.98;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.seo-case-study-hover-layer-body h5 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.25;
  margin-bottom: -18px;
}
.seo-case-study-hover-layer-body p {
  color: #fff;
  font-size: 0.875rem;
  line-height: 3.2;
  margin-bottom: 0;
}
.seo-case-study-hover-layer-body span {
  color: #fff;
  display: block;
}

/* Seo-Case-study-Scetion-End */

/* Photo-blog-section-Start */
.photo-blog {
  padding-bottom: 122px;
}

.seo-blog-photo-card {
  border: 1px solid #e8e8e8;
  border-radius: 0.275rem;
  box-shadow: 0px 2px 10px #e8e8e8;
}

.seo-blog-card-body-1::before {
  content: "15 May, 2017, 9:07 am";
  display: block;
  font-size: 0.875rem;
  line-height: 3.2;
}

.seo-blog-card-body-2::before {
  content: "25 May, 2017 , 9:07 am";
  display: block;
  font-size: 0.875rem;
  line-height: 3.2;
}

.seo-blog-card-body-3::before {
  content: "30 May, 2017 , 9:07 am";
  display: block;
  font-size: 0.875rem;
  line-height: 3.2;
}

.seo-blog-card-body {
  padding: 36px 16px 26px 18px;
}

.seo-blog-card-body h5 {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 18px;
}

.seo-blog-card-body p {
  font-size: 0.9375rem;
  line-height: 1.86;
}

/* Photo-blog-section-End */

/* Marketing-site-Start */

.marketing-site {
  background: linear-gradient(
      to right,
      rgba(27, 102, 218, 0.8),
      rgba(24, 185, 230, 0.8)
    ),
    url("../images/home-3-marketing-site-banner.png");
}

.marketing-site-wrapper {
  padding: 120px 0px 114px 0;
}

.marketing-site-title h3 {
  color: #fff;
  margin-bottom: 24px;
}
.marketing-site-title p {
  font-size: 1.125rem;
  line-height: 1.44;
  color: #fff;
  margin-bottom: 42px;
}
/* Marketing-site-End */

/* Footer-content-Start */
.footer {
  padding: 36px 0 38px 0;
}

.footer-services-menu ul {
  list-style: none;
  display: inline-flex;
  gap: 30px;
  padding-top: 18px;
}

.footer-services-menu ul li a {
  text-decoration: none;
  color: #888888;
  font-weight: 500;
}

.footer-services-menu ul li:hover a {
  color: var(--home-3-color);
  transition: all 0.2s;
}

.social-help-footer ul {
  list-style: none;
  display: inline-flex;
  gap: 18px;
  padding-top: 18px;
}

.social-help-footer ul li a i {
  text-decoration: none;
  color: #373737;
  font-weight: 900;
}

.social-help-footer ul li:hover a i {
  color: var(--home-3-color);
  transition: all 0.2s;
}
/* Footer-content-End */

/* Footer-section-start */

.Footer {
  background-color: #fbfbfb;
  padding: 20px 0 0;
}

.help-section ul {
  list-style: none;
  display: inline-flex;
  gap: 18px;
}

.help-section ul li a {
  text-decoration: none;
  color: #888888;
  font-weight: 500;
}

.help-section ul li:hover a {
  color: var(--home-3-color);
}

/* Footer-section-End */

/* ------------------------------------Home-3 Css End------------------------ */

/* ------------------------------------Home-4 Css Start------------------------ */
/* -----Hero-area-start------ */

/* Hero-NAV-start */
.hero-area {
  background: url(../images/Home-4-banner-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  isolation: isolate;
}

.hero-area::after {
  content: "";
  position: absolute;
  background-color: #073b4c;
  z-index: -1;
  inset: 0;
  opacity: 25%;
}

.hero-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-nav-wrapper .hero-button {
  padding-left: 0;
}

/* Hero-NAV-End */

.hero-area-title {
  padding-top: 235px;
}

.hero-area-title h1 {
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.19;
  color: #fff;
}
.hero-area-title p {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.85;
  color: #fff;
  margin-top: 22px;
  margin-bottom: 42px;
}

/* Hero-area-title-start */
.hero-form {
  padding-bottom: 262px;
}
.hero-form input {
  width: 242px;
  height: 50px;
  background-color: #073b4c;
  outline: none;
  border: 1px solid #073b4c;
  border-radius: 0.275rem;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.85;
  color: #fff;
  padding: 0 18px;
  margin-right: 30px;
}

.hero-form input::placeholder {
  color: #ffff;
}

/* Hero-area-title-end */

/* -----Hero-area-end------ */

/* Business-Grow-section-Start */

.business-grow {
  padding: 118px 0 120px 0;
}

.business-grow-title {
  margin-left: 30px;
}

.business-grow-title h2 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 26px;
}

.business-grow-title p {
  font-size: 0.975rem;
  font-weight: 300;
  line-height: 1.85;
}

.business-grow-title a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--home-4-color);
  font-size: 0.975rem;
  font-weight: 500;
  line-height: 1.85;
  margin-top: 4px;
}

.business-grow-title a span {
  font-size: 0.775rem;
  margin-left: 6px;
}
/* Business-Grow-section-End */

/* SERVICE-CONTENT-START */
.content-box {
  border: 1px solid red;
}

.content-box-header {
}
.content-box-header h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.88;
}
.content-box-header span {
}
.content-box-header span .icons {
  /* width: 38px;
  height: 26px; */
}
.content-box-body {
}
.content-box-body p {
}

/* SERVICE-CONTENT-END */

/* Video-Section-Start */
.video-content {
  background: url(../images/home-4-play-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 105px 0 96px 0;
}

.video-content-wrapper {
  margin-left: 550px;
}

.video-content-wrapper h3 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 0.67;
  margin-bottom: 28px;
}

.video-content-wrapper p {
  color: #fff;
  font-size: 0.93rem;
  line-height: 1.7;
}

.video-content-wrapper span {
  background-color: var(--home-4-color);
  height: 70px;
  width: 70px;
  border: 1px solid var(--home-4-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.video-content-wrapper span i {
  font-size: 1.6rem;
  color: #fff;
}

/* Video-Section-End */

/* feature-Content-start */

.feature-content {
  padding: 112px 0 108px 0;
}

.feature-content-key-section {
  margin-left: 90px;
}

.feature-content-key-section-heading-title h3 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 18px;
}

.feature-content-key-section-heading-title p {
  font-size: 0.9375rem;
  line-height: 1.73;
  margin-bottom: 42px;
}

.feature-content-key-section-key-services ul li p {
  font-size: 0.9375rem;
  line-height: 1.73;
}

.feature-content-key-section-key-services {
  position: relative;
}

.feature-content-key-section-key-services ul {
  list-style: none;
  margin-left: 70px;
}

.feature-content-key-section-key-services ul li {
  position: relative;
  margin-bottom: 28px;
}

.feature-content-key-section-key-services ul li::before {
  content: "\f007";
  font-family: "Font Awesome 6 Free";
  font-weight: 700;
  font-size: 38px;
  color: var(--home-4-color);
  position: absolute;
  top: -11px;
  left: -66px;
}

.feature-content-key-section-key-services ul li h6 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 18px;
}

/* feature-Content-End */

/* testimonial-Start */

.testimonial {
}

.testimonial-heading-title {
}
.testimonial-heading-title h3 {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2.11;
  margin-bottom: -2px;
}
.testimonial-heading-title p {
  color: #999;
  font-size: 0.9375rem;
  line-height: 1.73;
}
.testimonial-services {
  margin-top: 58px;
}

.testimonial-card {
  padding: 30px 5px 18px 14px;
  color: #cbcbcb;
  position: relative;
}
.testimonial-card:hover {
  background-color: var(--home-4-color);
  color: #fff;
  cursor: pointer;
}

/* .testimonial-card::after {
  content: "";
  position: absolute;
  top: 160px;
  left: -32px;
   border: 32px solid var(--home-4-color);
  border-color: transparent var(--home-4-color) transparent transparent; 
}  */

.testimonial-card:hover::after {
  content: "";
  position: absolute;
  top: 176px;
  left: -32px;
  border: 32px solid var(--home-4-color);
  border-color: transparent var(--home-4-color) transparent transparent;
  z-index: -1;
}

.testimonial-card-icon i {
  font-size: 1.475rem;
  margin-left: 10px;
  margin-bottom: 18px;
}
.testimonial-card-text {
}
.testimonial-card-text p {
  font-size: 0.9375rem;
  line-height: 1.73;
}

.testimonial-wrapper {
  padding-bottom: 120px;
  margin-top: 60px;
  margin-right: 178px;
}

.testimonial-quotes {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-photo-part img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial-text-part {
  margin-left: 24px;
  margin-top: 12px;
}

.testimonial-text-part span {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 700;
  color: #373737;
}
.testimonial-text-part p {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 300;
}
/* testimonial-End */

/* call-to-acion-Start */

.call-to-action {
  background: url(../images/home-4-cta-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  isolation: isolate;
  padding-bottom: 70px;
  padding-top: 70px;
}
.call-to-action::after {
  content: "";
  position: absolute;
  background-color: #073b4c;
  z-index: -1;
  inset: 0;
  opacity: 70%;
}
.call-to-action-wrapper {
}
.call-to-action-wrapper h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 0.72;
  color: #fff;
  margin-bottom: 28px;
}
.call-to-action-wrapper p {
  color: #fff;
  margin-bottom: 22px;
}
.call-to-action-wrapper .hero-btn-primary {
  padding: 12px 46px 8px 46px !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}
/* call-to-acion-End */

/* Footer--help-content-Start */
.footer--help-content {
  background-color: #073b4c;
  padding: 126px 0 128px 0;
}

.social-component.social-component-helper {
  padding-left: 66px;
}

.sign-up-helper h5,
.product-helper h5,
.social-component.social-component-helper h5 {
  color: #fff;
  font-weight: 500;
}

.product-helper ul li a {
  color: #fff;
}

.social-component-helper .social-helper ul li a,
.social-component-helper .social-helper ul li a i {
  color: #fff;
}

.sign-up-wrapper {
  margin-left: 64px;
}
.sign-up-wrapper .signup form input[type="submit"] {
  background-color: var(--home-4-color) !important;
}

.footer--help-content .social-component .social-help ul li:hover a,
.footer--help-content .social-component .social-help ul li:hover i {
  color: var(--home-4-color);
}
.footer-copyright {
  background-color: #0f2e38;
}

.footer-copyright .footer-color p {
  color: #fff;
}

/* Footer--help-content-End */

/* ------------------------------------Home-4 Css End------------------------ */

/* ------------------------------------Services-1 Css START------------------------ */
/* ------------------------------------Services-1 Css END------------------------ */
