:root {
  --body-color: #999;
  --primary-color: #f04770;
}
body {
  font-family: "Khula", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--body-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khula", sans-serif;
  color: #373737;
}
.container-fluid {
  max-width: 1170px;
}

/* default-input-style */
.traffic-form-control {
  border: 1px solid #efefef;
  padding: 16px 22px;
  max-height: 46px;
  border-radius: 4px;
  outline: none;
}
.traffic-form-control:focus {
  border-color: var(--primary-color);
}
/* default-input-style-end */

/* button */
.traffic-btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 0.875rem;
  padding: 14px 32px;
  line-height: 1.5;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.traffic-btn-primary:hover {
  color: #fff;
}

/* primary-menu */
ul.primary-menu li a {
  text-decoration: none;
  display: inline-block;
  color: #999;
  padding: 15px;
}

ul.primary-menu li a:hover {
  color: var(--primary-color);
  font-weight: 400;
}

/* banner-section */

.banner-section {
  padding: 176px 0 156px 0;
}

.banner-text h1 {
  margin-bottom: 6px;
  line-height: 1.15;
}
.banner-text p {
  margin-bottom: 34px;
}
.banner-form .traffic-btn-primary {
  margin-left: 16px;
}

/* banner-end */

/* service-section-start */
.service-section {
  margin-top: 116px;
}
.service-section .service-header p {
  margin-bottom: 100px;
}

.card,
.box {
  width: 370px;
  height: 320px;
  margin-bottom: 50px;
  cursor: pointer;
}

.card-body .icon span {
  font-size: 2.375rem;
  margin: 20px 0 10px 0;
  color: #373737;
}

.card-body a {
  display: inline-block;
  text-decoration: none;
  color: #373737;
  font-weight: 400;
}

.card-body h4 {
  margin-top: 18px;
}

.card-body p {
  margin: 18px 0 30px 0;
  line-height: 1.73;
}
.card-text a {
  position: relative;
}

.card-text a span {
  font-size: 11px;
  position: absolute;
  top: 4px;
  left: 82px;
}

.card:hover {
  border-color: var(--primary-color);
}

.card:hover .icon span,
.card:hover .card-text h4,
.card:hover .card-text a {
  color: var(--primary-color);
  transition: all 0.3s;
}

/* service-section-end */

/* online-marketing start */
.online-marketing {
  padding: 68px 0 120px 0;
}
.online-marketing-text h2 {
  line-height: 1.42;
}
.online-marketing-text p {
  margin-top: 8px;
  line-height: 1.625;
  margin-bottom: 34px;
}

/* online-marketing end */

/* case-study-start */
.case-study {
  background-color: #fbfbfb;
  padding: 80px 0 60px 0;
}

.case-study-text p {
  margin-bottom: 90px;
}

.box {
  border-radius: 0.375rem;
  position: relative;
}
.hover-title h4 {
  margin-top: 38px;
  color: #fff;
}
.hover-title p {
  font-size: 1.0625rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 18px;
}
.hover-description {
  margin: 26px 0 32px 0;
}
.hover-description p {
  color: #fff;
}
.hover-arrow a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 14px;
  background: #fff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  cursor: pointer;
}

.hover-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  border-radius: 0.375rem;
}
.box:hover .hover-layer {
  opacity: 1;
  visibility: visible;
  transition: ease-in 0.3s;
  background-color: #f04770;
}

/* case-study-end */

/* carousel-start */
.carousel {
  height: 60vh;
}
/* carousel-end */
